jade/article.jade
extends meta/_layout

block content
  //- include meta/_carousel
  section.show-banner
    .container
      .row
        .col-xs-12
          .carousel-slide-wrap.pr
            .carousel-slide-text-block.sand
              .carousel-slide-text-middle
                span.db.title.text-uppercase Бронирование <br> Пленкой
                //- span.db.small-text.text-uppercase Автомобилей
                span.db.description.text-uppercase цена:
                span.db.price от 18 000 руб.
            img(src='img/slide4.jpg' alt='slide img').img-responsive.carousel-image.visible-md.visible-lg


  article.read-text
    .container
      .row
        .col-lg-9
          article.main
            h1 Бронирование пленкой
            p Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.Служба Яндекс.Рефераты предназначена для студентов и кольников, дизайнеров и журналистов, создателей научных
            p заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.Служба Яндекс.Рефераты предназначена для студентов и кольников, дизайнеров и журналистов, создателей научных
            p заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.
            p Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку
            p зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
            p Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку
            p зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
            p Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку
            p зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
            p Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.
            p Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
            p Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.

            .row
              -for(var i = 0; i < 3; i++)
                .col-sm-6.col-md-6.col-lg-4
                  a(href="photo/#{i + 1}.jpg" rel="darkbox")
                    img(src="img/img_demo_article.jpg" alt="Soda").shadow-block-img.table-center

            p Текстами рефератов можно пользоваться совершенно бесплатно, однако при транслировании и предоставлении текстов в массовое пользование ссылка на Яндекс.Рефераты обязательна.
            p Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.Служба Яндекс.Рефераты предназначена для студентов и кольников, дизайнеров и журналистов, создателей научных
            p заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.Служба Яндекс.Рефераты предназначена для студентов и кольников, дизайнеров и журналистов, создателей научных
            p заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.

        .col-lg-3.visible-lg
          aside.right-aside
            .aside-title-wrapper
              .aside-title
                h4.aside-title-text.text-white.text-center Услуги Unicar
            ul.pl0.lsn.mb0.aside-list
              li
                a(href="#").db.hover-underline Посадка занижение
              li
                a(href="#").db.hover-underline Полировка кузова, фар
              li
                a(href="#").db.hover-underline Продажа и ремонт стекол
              li
                a(href="#").db.hover-underline Покрытие жидким стеклом
              li
                a(href="#").db.hover-underline Бронирование пленкой
              li
                a(href="#").db.hover-underline Химчистка салона
              li
                a(href="#").db.hover-underline Шумоизоляция
              li
                a(href="#").db.hover-underline Натяжное покрытие ???
              li
                a(href="#").db.hover-underline Тонировка
              li
                a(href="#").db.hover-underline Установка авто сигнализаций
              li
                a(href="#").db.hover-underline Установка ксенона
              li
                a(href="#").db.hover-underline Диагностики автомобиля
              li
                a(href="#").db.hover-underline Покраска и рихтовка
              li
                a(href="#").db.hover-underline Установка авто звука
              li
                a(href="#").db.hover-underline Установка парктроников
              li
                a(href="#").db.hover-underline Авто электрик

block script
  script(src="js/jquery.darkbox.min.js")

build/article.html
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Сайт Unicar</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="img/demo.jpg">
    <meta property="og:title" content="Demo jade example">
    <meta property="og:description" content="Demo jade example">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="description" content="">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="//cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Ubuntu:700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <header class="main">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4"><span class="time db">Тюнинг ателье в Краснодаре Пн-Сб: с 9:00 до 19:00</span>
                    </div>
                    <div class="col-lg-4"><span class="social-text table-center">Мы в соц. сетях<a href="#" class="icon icon-vk"></a><a href="#" class="icon icon-ins"></a></span>
                    </div>
                    <div class="col-lg-4">
                        <div class="address-block"><span class="address dib">г. Краснодар ул. Алма-Фтинская 93</span><a href="#" class="address-link no-underline">Схема проезда</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="logo">
                            <a href="/" class="logo-link">
                                <img src="img/img_logo.png" alt="unicar logo" width="181" height="46">
                            </a><span class="logo-text">Unicar.ru</span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="order"><span data-target="#modal-callback" data-toggle="modal" class="table-center cur">Заказ звонка</span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="phone"><a href="tel:+79188000115" class="phone-text no-underline">+7 (918) 800-01-15</a>
                            <a href="tel:+79188000115" class="icon icon-viber"></a>
                            <a href="tel:+79188000115" class="icon icon-wa"></a>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="main">
                <div class="container pr">
                    <ul class="lsn clearfix pl0 mb0">
                        <li class="pull-left"><a href="index.html" class="db no-underline text-uppercase nav-link"><span class="icon-home"></span>Главная</a>
                        </li>
                        <li class="pull-left"><span data-toggle="collapse" data-target=".hidden-menu" aria-expanded="false" role="menu" class="db text-uppercase nav-link cur no-select"><span class="icon-bookmark"></span>Услуги</span>
                        </li>
                        <li class="collapse hidden-menu">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><a href="#" class="db no-underline hidden-menu-link">Посадка занижение</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><a href="#" class="db no-underline hidden-menu-link">Полировка кузова, фар</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><a href="#" class="db no-underline hidden-menu-link">Продажа и ремонт стекол</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><a href="#" class="db no-underline hidden-menu-link">Покрытие жидким стеклом</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><a href="article.html" class="db no-underline hidden-menu-link">Бронирование пленкой</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><a href="#" class="db no-underline hidden-menu-link">Химчистка салона</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><a href="#" class="db no-underline hidden-menu-link">Шумоизоляция</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><a href="#" class="db no-underline hidden-menu-link">Натяжное покрытие ???</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><a href="#" class="db no-underline hidden-menu-link">Тонировка</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><a href="#" class="db no-underline hidden-menu-link">Установка авто сигнализаций</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><a href="#" class="db no-underline hidden-menu-link">Установка ксенона</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><a href="#" class="db no-underline hidden-menu-link">Диагностики автомобиля</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><a href="#" class="db no-underline hidden-menu-link">Покраска и рихтовка</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><a href="#" class="db no-underline hidden-menu-link">Установка авто звука</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><a href="#" class="db no-underline hidden-menu-link">Установка парктроников</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"><a href="#" class="db no-underline hidden-menu-link">Авто электрик</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="pull-left"><a href="portfolio.html" class="db no-underline text-uppercase nav-link"><span class="icon-picture"></span>Наши работы</a>
                        </li>
                        <li class="pull-left"><a href="price.html" class="db no-underline text-uppercase nav-link"><span class="icon-th-list"></span>Прайс-лист</a>
                        </li>
                        <li class="pull-left"><a href="contact.html" class="db no-underline text-uppercase nav-link"><span class="icon-phone"></span>Контакты</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <section class="show-banner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="carousel-slide-wrap pr">
                            <div class="carousel-slide-text-block sand">
                                <div class="carousel-slide-text-middle"><span class="db title text-uppercase">Бронирование <br> Пленкой</span><span class="db description text-uppercase">цена:</span><span class="db price">от 18 000 руб.</span>
                                </div>
                            </div>
                            <img src="img/slide4.jpg" alt="slide img" class="img-responsive carousel-image visible-md visible-lg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <article class="read-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <article class="main">
                            <h1>Бронирование пленкой</h1>
                            <p>Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.Служба Яндекс.Рефераты предназначена
                                для студентов и кольников, дизайнеров и журналистов, создателей научных</p>
                            <p>заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.Служба Яндекс.Рефераты предназначена для студентов и кольников, дизайнеров и журналистов, создателей научных</p>
                            <p>заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.</p>
                            <p>Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку</p>
                            <p>зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</p>
                            <p>Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку</p>
                            <p>зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</p>
                            <p>Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку</p>
                            <p>зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</p>
                            <p>Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.</p>
                            <p>Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</p>
                            <p>Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.</p>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <a href="photo/1.jpg" rel="darkbox">
                                        <img src="img/img_demo_article.jpg" alt="Soda" class="shadow-block-img table-center">
                                    </a>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <a href="photo/2.jpg" rel="darkbox">
                                        <img src="img/img_demo_article.jpg" alt="Soda" class="shadow-block-img table-center">
                                    </a>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <a href="photo/3.jpg" rel="darkbox">
                                        <img src="img/img_demo_article.jpg" alt="Soda" class="shadow-block-img table-center">
                                    </a>
                                </div>
                            </div>
                            <p>Текстами рефератов можно пользоваться совершенно бесплатно, однако при транслировании и предоставлении текстов в массовое пользование ссылка на Яндекс.Рефераты обязательна.</p>
                            <p>Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.Служба Яндекс.Рефераты предназначена
                                для студентов и кольников, дизайнеров и журналистов, создателей научных</p>
                            <p>заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.Служба Яндекс.Рефераты предназначена для студентов и кольников, дизайнеров и журналистов, создателей научных</p>
                            <p>заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.</p>
                        </article>
                    </div>
                    <div class="col-lg-3 visible-lg">
                        <aside class="right-aside">
                            <div class="aside-title-wrapper">
                                <div class="aside-title">
                                    <h4 class="aside-title-text text-white text-center">Услуги Unicar</h4>
                                </div>
                            </div>
                            <ul class="pl0 lsn mb0 aside-list">
                                <li><a href="#" class="db hover-underline">Посадка занижение</a>
                                </li>
                                <li><a href="#" class="db hover-underline">Полировка кузова, фар</a>
                                </li>
                                <li><a href="#" class="db hover-underline">Продажа и ремонт стекол</a>
                                </li>
                                <li><a href="#" class="db hover-underline">Покрытие жидким стеклом</a>
                                </li>
                                <li><a href="#" class="db hover-underline">Бронирование пленкой</a>
                                </li>
                                <li><a href="#" class="db hover-underline">Химчистка салона</a>
                                </li>
                                <li><a href="#" class="db hover-underline">Шумоизоляция</a>
                                </li>
                                <li><a href="#" class="db hover-underline">Натяжное покрытие ???</a>
                                </li>
                                <li><a href="#" class="db hover-underline">Тонировка</a>
                                </li>
                                <li><a href="#" class="db hover-underline">Установка авто сигнализаций</a>
                                </li>
                                <li><a href="#" class="db hover-underline">Установка ксенона</a>
                                </li>
                                <li><a href="#" class="db hover-underline">Диагностики автомобиля</a>
                                </li>
                                <li><a href="#" class="db hover-underline">Покраска и рихтовка</a>
                                </li>
                                <li><a href="#" class="db hover-underline">Установка авто звука</a>
                                </li>
                                <li><a href="#" class="db hover-underline">Установка парктроников</a>
                                </li>
                                <li><a href="#" class="db hover-underline">Авто электрик</a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <footer class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-9"><span class="footer-title">Услуги</span>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4"><a href="#" class="footer-link">Посадка, заниение</a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4"><a href="#" class="footer-link">Бронирование пленкой</a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4"><a href="#" class="footer-link">Тонировака</a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4"><a href="#" class="footer-link">Покраска, рихтовка</a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4"><a href="#" class="footer-link">Полировка кузова фар</a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4"><a href="#" class="footer-link">Химчистка салона</a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4"><a href="#" class="footer-link">Установка автосигнализации</a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4"><a href="#" class="footer-link">Установка автозвука</a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4"><a href="#" class="footer-link">Продажа и ремонт стекол</a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4"><a href="#" class="footer-link">Шумоизоляция</a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4"><a href="#" class="footer-link">Установка ксенона</a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4"><a href="" class="show-more-list no-underline">Посмотреть полный список</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3"><span class="footer-title">Контакты</span>
                    <ul class="lsn pl0 mb0">
                        <li><a href="tel:+76542655429" class="phone-text no-underline">+7 (654) 265-54-29</a>
                        </li>
                        <li><a href="tel:+76893167941" class="phone-text no-underline">+7 (689) 316-79-41</a>
                        </li>
                        <li class="footter-address">г. Краснодар ул. Алма-Атинская 93</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright">© “Unicar” 2015 г. Все права защищены.</p>
                    </div>
                    <div class="col-sm-6"><a href="#" class="creator-text db no-underline"><span>Разработка сайта -</span><img src="img/logo_art6.png" alt="logo art6" width="55" height="15" class="creator-img pull-right"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div tabindex="-1" role="dialog" aria-hidden="true" id="modal-callback" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header pr"><span class="db modal-title">Фома обратного звонка</span>
                    <div data-dismiss="modal" class="modal-close cur"></div>
                </div>
                <div class="modal-body">
                    <form class="callback-form">
                        <div class="callback-input-wrap pr">
                            <input type="text" name="name" placeholder="Имя" required class="db no-outline callback-input">
                        </div>
                        <div class="callback-input-wrap pr">
                            <input type="text" name="phone" placeholder="Телефон" required class="db no-outline callback-input">
                        </div>
                        <button type="submit" class="table-center callback-button">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5,jquery.slick@1.5.8"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/jquery.darkbox.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
